{{!-- main html will go here --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battle Binder</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/bulma.min.css">
</head>

<body class="has-background-dark" a name="top">
  <header>
    <!-- navbar -->
    <nav class="navbar has-background-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <!-- upper left corner logo and text to send user home  -->
        <a class="navbar-item is-flex is-align-content-center" href="/battlebinder" id="home-button">

          <img src="/images/battle-binder-log-small.png">

          <p class="title has-text-white pl-2"> Battle Binder
          </p>
        </a>
        <!-- "hamburger menu" when page is small navigation links hide into three vertical lines (still figuring out how this works)  -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <!-- navigation links  -->
      <div id="navbarBasicExample" class="navbar-menu ">
        <div id="navbarBasicExample" class="navbar-menu">

          <div class="navbar-end">
            <div class="navbar-item">
              <a class="navbar-item has-text-white" id="deck" href="/deck">
                Deck
              </a>
              <a class="navbar-item has-text-white" id="search" href="/battlebinder">
                Search
              </a>
              <div class="buttons">
                <!-- handlebars if helper to display login or logout button if user is logged in -->
                {{#if logged_in}}
                <a class="button has-background-dark has-text-white" id="logout" href="/battlebinder">
                  Logout

                </a>
                {{else}}
                <a class="button has-background-dark has-text-white" id="login" href="/login">
                  Login
                </a>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
    </nav>
    </section>
  </header>

  <!-- main section has randomly generated card and a button to add to favorites  -->
  <main >
    {{{body}}}
  </main>

  <br><br><br><br><br><br>

  <!-- footer and random links -->
  <footer class="footer has-background-black">
    <!-- button to send user back to top of the page  -->
    <div class="buttons is-centered mt-5">
      <a class="button has-background-black has-text-white" a href="#top">
        Back to Top
      </a>
    </div>
    <div class="content has-text-centered ">
      <p class="has-text-white">
        <strong class="has-text-white">Battle Binder</strong> by <a
          href="https://github.com/colekasa/Battle-Binder">Kasabian
          Nights</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

  {{#if logged_in}}
  <!--  Render Script for logged in users only -->
  <script src="/js/logout.js"></script>
  {{!-- <script src="/js/addToDeck.js "></script> --}}
  {{/if}}
</body>


</html>