<section class="container">
  <form class="box mx-6">
    <div class="title has-text-dark has-text-centered">
      <p>Log in</p>
    </div>
    <div class="field">
        {{!-- 0. kept "LABEL for" the same as mini project  --}}
      <label for="email-login" class="label">Email</label>
      <div class="control">
        {{!-- 1. first INPUT for email login (kept id the same as mini project) --}} 
        <input class="input" type="text" placeholder="e.g. pharoahatem@example.com" id="email-login">
      </div>
    </div>

    <div class="field">
        {{!-- 2. kept "LABEL for" the same as mini project  --}}
      <label for="password-login" class="label">Password</label>
      <div class="control">
        {{!-- 3. second INPUT for password (added same id as mini project) --}}
        <input class="input" type="password" placeholder="********" id="password-login">
      </div>
    </div>
        {{!-- 4. BUTTON for login (added type submit same as mini project) --}}
    <button class="button has-background-black has-text-white is-normal" type="submit">Log in</button>
  </form>
</section>

<br><br>
{{!-- javascript file that handles sign up and login  --}}
<script src="./js/login.js"></script>